.env
node_modules
package-lock.json
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

# Firebase
backend/firebase-service-account.json
*.firebase-service-account.json